# Cache
__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

# Virtual envs
.venv
.direnv
.envrc
.python-version

# Other Python tools
.ropeproject

# Mise
mise.toml
.mise.toml

# Egg and build artifacts
*.egg-info/
*.egg
dist/
build/

# Coverage reports
.coverage*
htmlcov

# IDE, editors
.vscode
.idea
.DS_Store
.nvim.lua
Session.vim

# Docs
docs/changelog.md

# Website build artifacts, node dependencies
website/build
website/node_modules
website/.yarn
website/.docusaurus
website/api-typedoc-generated.json
website/apify-shared-docspec-dump.jsonl
website/docspec-dump.jsonl
website/module_shortcuts.json
website/typedoc-types*
# npm lockfile (we use yarn)
website/package-lock.json

# Default directory for memory storage
storage/
