__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

.venv
.direnv
.envrc
.python-version

poetry.toml
poetry.lock

*.egg-info/
*.egg
dist/
build/
.coverage*
htmlcov

.vscode
.idea
.DS_Store

docs/changelog.md

.nvim.lua
Session.vim

website/build
website/node_modules
website/.yarn
website/.docusaurus
website/api-typedoc-generated.json
website/apify-shared-docspec-dump.jsonl
website/docspec-dump.jsonl
website/module_shortcuts.json

storage
