__pycache__
.mypy_cache
.pytest_cache
.ruff_cache

.venv
.direnv
.envrc
.python-version

poetry.toml
poetry.lock

*.egg-info/
*.egg
dist/
build/
.coverage*
htmlcov

.vscode
.idea
.DS_Store

docs/changelog.md

.nvim.lua
Session.vim
