# % if cookiecutter.crawler_type == 'playwright-camoufox'
camoufox[geoip]~=0.4.5
# % endif
# % if cookiecutter.crawler_type.startswith('adaptive-')
# % set extras = ['adaptive-crawler', 'beautifulsoup', 'parsel']
# % elif cookiecutter.crawler_type.startswith('playwright')
# % set extras = ['playwright']
# % elif cookiecutter.crawler_type == 'stagehand'
# % set extras = ['stagehand']
# % else
# % set extras = [cookiecutter.crawler_type]
# % endif
# % if cookiecutter.enable_apify_integration
apify
# % endif
# % if cookiecutter.http_client in ('httpx', 'curl-impersonate')
# % do extras.append(cookiecutter.http_client)
# % endif
crawlee[{{ extras | join(',') }}]
