name: Tests

on:
  # Runs when manually triggered from the GitHub UI.
  workflow_dispatch:

  # Runs when invoked by another workflow.
  workflow_call:

jobs:
  unit_tests:
    name: Unit tests
    uses: apify/workflows/.github/workflows/python_unit_tests.yaml@main
    secrets: inherit
    with:
      python_versions: '["3.10", "3.11", "3.12", "3.13", "3.14"]'
      operating_systems: '["ubuntu-latest", "windows-latest", "macos-latest"]'
      python_version_for_codecov: "3.14"
      operating_system_for_codecov: ubuntu-latest
      tests_concurrency: "16"
