name: Build and deploy docs

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  NODE_VERSION: 20
  PYTHON_VERSION: 3.12

jobs:
  build_and_deploy_docs:
    environment:
      name: github-pages
    permissions:
      contents: write
      pages: write
      id-token: write
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: npm
          cache-dependency-path: website/package-lock.json

      - name: Install Node dependencies
        run: |
          npm install
          npm update @apify/docs-theme
        working-directory: ./website

      # We do this as early as possible to prevent conflicts if someone else would push something in the meantime
      - name: Commit the updated package.json and lockfile
        run: |
          git config user.name 'GitHub Actions'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add website/package.json
          git add website/package-lock.json
          git diff-index --quiet HEAD || git commit -m 'chore: Automatic docs theme update [skip ci]' || true
          git push

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Python dependencies
        run: |
          pipx install --python ${{ env.PYTHON_VERSION }} poetry
          make install-dev

      - name: Build generated API reference
        run: make build-api-reference

      - name: Build Docusaurus docs
        run: make build-docs

      - name: Set up GitHub Pages
        uses: actions/configure-pages@v5

      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./website/build

      - name: Deploy artifact to GitHub Pages
        uses: actions/deploy-pages@v4

      - name: Invalidate CloudFront cache
        run: gh workflow run invalidate.yaml --repo apify/apify-docs-private
        env:
          GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}
