name: Stable release

on:
  # Runs when manually triggered from the GitHub UI, with options to specify the type of release.
  workflow_dispatch:
    inputs:
      release_type:
        description: Release type
        required: true
        type: choice
        default: auto
        options:
          - auto
          - custom
          - patch
          - minor
          - major
      custom_version:
        description: The custom version to bump to (only for "custom" type)
        required: false
        type: string
        default: ""

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  code_checks:
    name: Code checks
    uses: ./.github/workflows/_check_code.yaml

  release_metadata:
    name: Prepare release metadata
    needs: [lint_check, type_check]
    runs-on: ubuntu-latest
    outputs:
      version_number: ${{ steps.release_metadata.outputs.version_number }}
      tag_name: ${{ steps.release_metadata.outputs.tag_name }}
      changelog: ${{ steps.release_metadata.outputs.changelog }}
      release_notes: ${{ steps.release_metadata.outputs.release_notes }}
    steps:
      - uses: apify/workflows/git-cliff-release@main
        name: Prepare release metadata
        id: release_metadata
        with:
          release_type: ${{ inputs.release_type }}
          custom_version: ${{ inputs.custom_version }}
          existing_changelog_path: CHANGELOG.md

  update_changelog:
    name: Update changelog
    needs: [release_metadata]
    uses: apify/workflows/.github/workflows/python_bump_and_update_changelog.yaml@main
    with:
      version_number: ${{ needs.release_metadata.outputs.version_number }}
      changelog: ${{ needs.release_metadata.outputs.changelog }}
    secrets:
      APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN: ${{ secrets.APIFY_SERVICE_ACCOUNT_GITHUB_TOKEN }}

  create_github_release:
    name: Create GitHub release
    needs: [release_metadata, update_changelog]
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Create release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.release_metadata.outputs.tag_name }}
          name: ${{ needs.release_metadata.outputs.version_number }}
          target_commitish: ${{ needs.update_changelog.outputs.changelog_commitish }}
          body: ${{ needs.release_metadata.outputs.release_notes }}

  publish_to_pypi:
    name: Publish to PyPI
    needs: [release_metadata, update_changelog]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write # Required for OIDC authentication.
    environment:
      name: pypi
      url: https://pypi.org/project/crawlee
    steps:
      - name: Prepare distribution
        uses: apify/workflows/prepare-pypi-distribution@main
        with:
          package_name: crawlee
          is_prerelease: ""
          version_number: ${{ needs.release_metadata.outputs.version_number }}
          ref: ${{ needs.update_changelog.outputs.changelog_commitish }}
      # Publishes the package to PyPI using PyPA official GitHub action with OIDC authentication.
      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1

      # TODO: add job for publish package to Conda
      # https://github.com/apify/crawlee-python/issues/104
