name: CI (master)

on:
  # Runs on every push to the master branch.
  push:
    branches:
      - master
    tags-ignore:
      - "**"  # Ignore all tags to avoid duplicate executions triggered by tag pushes.

jobs:
  doc_checks:
    name: Doc checks
    uses: ./.github/workflows/doc_checks.yaml
    secrets: inherit

  code_checks:
    name: Code checks
    uses: ./.github/workflows/code_checks.yaml

  tests:
    name: Tests
    uses: ./.github/workflows/tests.yaml
    secrets: inherit

  build_and_deploy_docs:
    name: Build and deploy docs
    needs: [doc_checks]
    uses: ./.github/workflows/docs.yaml
    secrets: inherit

  pre_release:
    name: Pre-release
    needs: [code_checks, tests]
    uses: ./.github/workflows/pre_release.yaml
    secrets: inherit
