on:
  pull_request_target:

jobs:
  approve_e2e_tests_on_fork:
    if: github.event.pull_request.head.repo.full_name != github.repository
    environment: forks-PR
    runs-on: ubuntu-latest
    steps:
      - name: Approve E2E tests
        run: echo "Approved"

  run_e2e_tests:
    needs: approve_e2e_tests_on_fork
    uses: ./.github/workflows/on_schedule_tests.yaml
    secrets:
      APIFY_TEST_USER_API_TOKEN: ${{ secrets.APIFY_TEST_USER_API_TOKEN }}
