name: Run code checks

on:
  # Trigger code checks on opening a new pull request.
  # Secrets are only made available to the integration tests job, with a manual approval
  # step required for PRs from forks. This prevents their potential exposure.
  pull_request:

jobs:
  lint_check:
    name: Lint check
    uses: apify/workflows/.github/workflows/python_lint_check.yaml@main

  type_check:
    name: Type check
    uses: apify/workflows/.github/workflows/python_type_check.yaml@main

  unit_tests:
    name: Unit tests
    uses: apify/workflows/.github/workflows/python_unit_tests.yaml@main
    secrets:
      httpbin_url: https://janbuchar--httpbin.apify.actor?token=${{ secrets.APIFY_HTTPBIN_TOKEN }}

  docs_check:
    name: Docs check
    uses: apify/workflows/.github/workflows/python_docs_check.yaml@main
